@font-face {
  font-family: 'Virgil';
  src: url('./fonts/Virgil.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

.title{
  font-family: 'Virgil';
  margin: auto;
  display: flex;
  flex-grow: 1;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}